.page-home {

  .map,
  .map-base {
    height: 60vh;
  }

  main {
    padding: 0;
  }

}

.home-start {

  padding-top: 0;
  padding-bottom: 0;

  h2 {
    font-family: $font-display;
    color: $deep-orange-900;
    font-size: 2em;
    font-weight: normal;
  }

}

.trip-stop {

  width: 400px;
  overflow: hidden;

  h2 {
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: .2em;
  }

  p,
  ul,
  h3 {
    font-size: 1.2em;
    font-weight: normal;
  }

  p {
    margin: .2em 0;
  }

  .trip-stop-date {
    color: $grey-600;
    font-size: 1em;
  }

  ul {
    padding: 0 0 0 1.4em;
    margin: 0;
  }

}


.trip-stop-image {
  display: block;
  float: left;
  overflow: hidden;
  width: 150px;
  height: 150px;
  text-indent: 100%;
  color: transparent;
  background-position: center;
  background-size: cover;
}

.trip-stop-content {
  float: left;
  width: 250px;
  padding-left: 1em;
}

.icon-trip-stop {

  display: block;
  width: 1.5em;
  height: 1.5em;
  background-color: $orange-500;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);

  &:hover {
    background-color: $deep-orange-400;
  }

}

.home-start {

  padding-top: 4em;
  padding-bottom: 4em;

  h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 1.2em;
  }

  pre {
    margin-bottom: 1.5em;
  }

  .button {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color: $blue-500;
    text-decoration: none;
    padding: 1em 1.2em;
    border-radius: .2em;
    box-shadow: 0 2px 3px rgba(0,0,0,.25);
  }

}
